extends layout

block content
  h1= title
  a(href='/answers/deleteAll')
    ='Delete All'
  p Welcome to #{title}
  p My Id #{myId}
  - for (var i = 0; i < answers.length;++i){
    p #{answers[i].uid} - #{answers[i].answer}
  - }
  p #{answers}
  a(href='/answers/show/1')
    ='Start'